* {
  margin: 0;
}

.card {
  overflow: hidden;
}

.card:hover .overlay-link {
  display: flex;
}

.overlay-link {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  /* z-index: 1; */
  transition: all 0.5s ease-in-out;
}
