* {
  margin: 0;
}

.card {
  overflow: hidden;
}

.card:hover .overlay-link {
  display: flex;
}

.overlay-link {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
}

.flex-url {
  display: flex;
  border: 1px solid beige;
  padding: 10px;
}

.horizontal-scroll {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.urlFont {
  padding-top: 7px;
  font-weight: bold;
  font-size: larger;
}
